.btnErreur {
    padding: 5px; /* -> Taille entre le texte et le bouton */
    top: 81%; /* -> Position hauteur */
    left: 30%;
    right: 30%;
  }

img {
  position: absolute;
  width: 55%;
  top: 50%; /* -> Position hauteur */
  left: 25%; /* -> Position gauche */
}