<div class="postxt">
        <br><br><br><br><br><br><br><br><br><br><br>
        <!-- TEXTE POUR LE CHOIX -->
            <form>
                <p STYLE="padding:0 0 0 35px;">

                        <!-- Partie check box -->
                            <strong>S&#233;lectionner le(s) graphique(s) :</strong><br>
                                    <input type="checkbox"> Temperature => Compteur pour la temperature <br>
                                    <input type="checkbox"> CPT_CMD_SF => Compteur pour la commande de soufflage  <br>
                                    <input type="checkbox"> CPT_PPIECE => Compteur pour la prise de pièces   <br>
                                    <input type="checkbox"> CPT_DEF_PPIECE => Compteur par défaut pour la prise de pièces  <br>
                                    <input type="checkbox"> CPT_REGUL_ASC => Compteur pour la régulation ASC  <br>
                                    <input type="checkbox"> CPT_DEF_REGUL => Compteur par défaut de la régulation ASC  <br>
                                    <input type="checkbox"> CPT_CMD_INT_VD => Compteur pour commande de vide interne  <br>
                                    <input type="checkbox"> CPT_CMD_EXT_VD => Compteur pour la commande de vide externe  <br>
                                    <input type="checkbox"> CPT_DEF_ALIM => Compteur par défaut d'alimentation<br>
                </p>
            </form>
                            <!-- Retour à la page d'acceuil -->
                                <button (click)="retour()" class="btn btnRetour">Retour</button>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</div>