/* - - Connexion.html - - */
  .divAdmin {
    position: absolute;
    border: 5px solid #303030;
    border-radius: 40px 40px 40px 40px;
    background-color: #808080;
    top: 38%; /* -> Position hauteur */
    left: 37%; /* -> Position gauche */
    right: 37%; /* -> Position droite */
    height: 50%; /* -> Position largeur */
  }

  /* Pos Nom */
    .posNomAdmin {
      position: relative;
      top: 25%;
    }

  /* Pos Prenom*/
    .posMdpAdmin {
      position: relative;
      top: 40%;
    }

  /* Message */
    .messageConnexion {
      position: relative;
      text-align: center;
      top: 90%;
    }

  .btnConnexion {
    position: absolute; /* -> Position */
    color: #C9C7CC; /* -> Couleur du texte */
    background-color: #303030;
    padding: 5px; /* -> Taille entre le texte et le bouton */
    font-size: 20px; /* -> Taille du texte */
    top: 66%; /* -> Position hauteur */
    left: 35%;
    right: 35%;
    border: 2px solid #303030; /* -> Bordure du bouton */
    border-radius: 25px; /* -> Bordure des boutons */
}

    .btnConnexion:hover { /* -> Annimation lorsque l'ont passe la sourie dessus */
        color: #303030; /* -> Couleur du texte */
        background-color: #808080; /* -> Couleur du fond */
        border: 2px solid #303030; /* -> Bordure du bouton */
        transition: 0.2s all; /* -> Transition des boutons */
    }

  /* Message Admin */
    .messageAdmin{
      position: absolute;
      top:85%;
      left: 30.5%;
      right: 30.5%;
    }

/* - - - - - - - - - - - - */

/* 
    Code pour l'affichage de la box
    Source : https://morioh.com/p/30df07ab0b9a
*/

  // * {
  //   margin: 0;
  //   padding: 0;
  //   outline: none;
  //   box-sizing: border-box;
  //   font-family: 'Poppins', sans-serif;
  // }

  .wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    left: 10%; /*Box a 10% du bord*/
  }

  .wrapper .input-data input {
    height: 100%;
    width: 80%;/*Longeur de la barre du bas*/
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    background-color: #808080; /*Fond de la box*/
  }

  .input-data input:focus ~ label,
  .input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #C9C7CC; /*Couleur du texte lors du clique*/
  }

  .wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #C9C7CC;/*Couleur du texte*/
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }

  .input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 80%; /*Longeur de la barre du bas lors du clique*/
    background: black; /*Couleur de la barre lors du clique*/
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
  }

/* - - - - - - - - - - */

.eye{
  top: 10%
}